# Project: E-Commerce Customer Segmentation (RFM Analysis)
- **Dataset:** Onilne Retail II (Generic "Superstore Sales")
- **Goal** Sagment Customers based on thir buying habits to help the marketing team target specific group

## **Part A: Data Cleaning (Python/Excel)**

- **The Task:** The rew data will likely have messy returns (nagative values), missing Customer IDs, and inconssistent data formats.

- **Actionable stepes:**
    - Remove records where `CustomerID` is null (We can't segment a ghost).
    - Filter out transaction where `Quantity < 0` (these are usually returns/cancellations).
    - Create a "Total Price" columns (`Quantity * UnitPrice`).
    - Standardize the `InvoicedData` to a `YYYY-MM-DD` format for SQL compatibility.

In [1]:
# Loading the Python libraries.
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

# Set Display Option
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

# Loding the Dataset
df = pd.read_csv("online_retail_II.csv")

### **Inintial Data Inspection**
- Top 10 rows
- Bottom 10 rows 
- Dataset shape
- Column names
- Data types
- Basic info

In [2]:
# Top 10 rows
print("--- Top 10 rows--- \n")
df.head(10)

--- Top 10 rows---

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
5,489434,22064,PINK DOUGHNUT TRINKET POT,24,2009-12-01 07:45:00,1.65,13085.0,United Kingdom
6,489434,21871,SAVE THE PLANET MUG,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
7,489434,21523,FANCY FONT HOME SWEET HOME DOORMAT,10,2009-12-01 07:45:00,5.95,13085.0,United Kingdom
8,489435,22350,CAT BOWL,12,2009-12-01 07:46:00,2.55,13085.0,United Kingdom
9,489435,22349,"DOG BOWL , CHASING BALL DESIGN",12,2009-12-01 07:46:00,3.75,13085.0,United Kingdom

In [3]:
# Bottem 10 Rows
print("--- Bottom 10 Rows ---\n")
df.tail(10)

--- Bottom 10 Rows ---

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
1067361,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680.0,France
1067362,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,2011-12-09 12:50:00,1.95,12680.0,France
1067363,581587,22629,SPACEBOY LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680.0,France
1067364,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,2011-12-09 12:50:00,4.15,12680.0,France
1067365,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [4]:
# Dataset Shape
print("--- Shape of the dataset --- \n")
print(f"Dataset shape: {df.shape}")
print(f"Total Row: {df.shape[0]}")
print(f"Total Columns: {df.shape[1]}")

--- Shape of the dataset ---

Dataset shape: (1067371, 8)
Total Row: 1067371
Total Columns: 8

In [5]:
# Column Names
print("Column Names:")
print(df.columns.tolist())

Column Names:
['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'Price', 'Customer ID', 'Country']

In [6]:
# Removing Space from the column names
df.columns = df.columns.str.replace(' ', '')
print(df.columns.tolist())

['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'Price', 'CustomerID', 'Country']

In [7]:
# Data Type
print("Data Type:")
print(df.dtypes)

Data Type:
Invoice         object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
Price          float64
CustomerID     float64
Country         object
dtype: object

In [8]:
# Baic Information
print("Dataset information:")
print(df.info())

Dataset information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  object
 5   Price        1067371 non-null  float64
 6   CustomerID   824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 65.1+ MB
None

### **Identify Data Quality issues and Dropping**

In [9]:
# Missing values in percentage
print("Missing values (%):")
print((df.isnull().mean() * 100).round(2))

# Empty string values in percentage
print("\nEmpty string values (%):")
for col in df.columns:
    empty_count = (df[col] == " ").sum()
    if empty_count > 0:
        print(f"{col}: {(empty_count / len(df) * 100).round(2)}%")

Missing values (%):
Invoice         0.00
StockCode       0.00
Description     0.41
Quantity        0.00
InvoiceDate     0.00
Price           0.00
CustomerID     22.77
Country         0.00
dtype: float64

Empty string values (%):

In [10]:
# Droping the empty value from CustomerID
df = df.dropna(subset=["CustomerID"])

In [11]:
# Filter out transastion where `Quantity < 0`
df = df[df["Quantity"] > 0]

In [12]:
# Create a "Total Price" columns (`Quantity * UnitPrice`)
print("Create a 'Total Price' columns (`Quantity * UnitPrice`)")
df['TotalPrice'] = (df['Quantity'] * df["Price"]).round(2)
df

Create a 'Total Price' columns (`Quantity * UnitPrice`)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,CustomerID,Country,TotalPrice
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.40
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.00
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.00
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.80
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.00
...,...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France,18.00

### **Standardize the `InvoicedData` to a `YYYY-MM-DD`**

In [13]:
# Standardize the `InvoicedData` to a `YYYY-MM-DD`
print("Standardize the `InvoicedData` to a `YYYY-MM-DD`")

# checking the datr formats and ERROR values
print("\nSample datas before conversion:")
print(df['InvoiceDate'].head(15))
print("\n")

# Checking the ERROR and empty values
print(f"Error values in the InvoiceDate: {(df['InvoiceDate'] == "ERROR").sum()}")
print(f"Empty value in the IvoiceDare: {(df["InvoiceDate"] == "").sum()}")
print(f"Missing value in the InvoiceDate: {df["InvoiceDate"].isnull().sum()}")

Standardize the `InvoicedData` to a `YYYY-MM-DD`

Sample datas before conversion:
0     2009-12-01 07:45:00
1     2009-12-01 07:45:00
2     2009-12-01 07:45:00
3     2009-12-01 07:45:00
4     2009-12-01 07:45:00
5     2009-12-01 07:45:00
6     2009-12-01 07:45:00
7     2009-12-01 07:45:00
8     2009-12-01 07:46:00
9     2009-12-01 07:46:00
10    2009-12-01 07:46:00
11    2009-12-01 07:46:00
12    2009-12-01 09:06:00
13    2009-12-01 09:06:00
14    2009-12-01 09:06:00
Name: InvoiceDate, dtype: object


Error values in the InvoiceDate: 0
Empty value in the IvoiceDare: 0
Missing value in the InvoiceDate: 0

In [14]:
# Befor Conversion
print("BEFORE DATA CONVERSION:")
print(f"Date type:{df["InvoiceDate"].dtype}")
print(f"Sample value:\n{df["InvoiceDate"].value_counts().head()}")

BEFORE DATA CONVERSION:
Date type:object
Sample value:
InvoiceDate
2011-11-14 15:27:00    542
2011-11-28 15:54:00    533
2011-12-05 17:17:00    529
2011-11-23 13:39:00    443
2011-10-31 14:09:00    435
Name: count, dtype: int64

In [15]:
# Convert to datetime, then extract just the date
df['InvoiceDate'] = pd.to_datetime(df["InvoiceDate"]).dt.date

In [16]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,CustomerID,Country,TotalPrice
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01,6.95,13085.0,United Kingdom,83.4
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01,6.75,13085.0,United Kingdom,81.0
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01,6.75,13085.0,United Kingdom,81.0
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01,2.10,13085.0,United Kingdom,100.8
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01,1.25,13085.0,United Kingdom,30.0

### Final Cleaned Dataset

In [17]:
# Checking the shape of the data
df.shape

(805620, 9)

In [18]:
# Save cleaned dataset
df_cleaned = df.copy()

# Save without the index
df_cleaned.to_csv("clean_data.csv", index=False)
# df_cleaned.to_json("clean_data.json", index=False)